@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?98005817');
  src: url('./font/fontello.eot?98005817#iefix') format('embedded-opentype'),
    url('./font/fontello.woff2?98005817') format('woff2'),
    url('./font/fontello.woff?98005817') format('woff'),
    url('./font/fontello.ttf?98005817') format('truetype'),
    url('./font/fontello.svg?98005817#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-export:before {
  content: '\e800';
}
.icon-search:before {
  content: '\e80b';
}
.icon-star:before {
  content: '\e814';
}
.icon-plus:before {
  content: '\e815';
}
.icon-minus:before {
  content: '\e816';
}
.icon-calendar:before {
  content: '\e817';
}
.icon-link-ext:before {
  content: '\f08e';
}
.icon-quote-left:before {
  content: '\f10d';
}
.icon-quote-right:before {
  content: '\f10e';
}
.icon-circle:before {
  content: '\f111';
}
.icon-dot-circled:before {
  content: '\f192';
}
.icon-git-squared:before {
  content: '\f1d2';
}

*::before,
*::before{
box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: 0;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: .35em .75em .625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

/* 초기화 */
.resetMargin {
  margin: 0;
}
.resetList {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
.resetBox {
  border: 0;
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 300;
  color: #181818;
  background-color: #fff;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #f00;
}
legend,
.a11yHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}
.button {
  border: 1px solid #333;
  border-radius: 3px;
  padding: .5em 1em;
  font-size: 1em;
  cursor: pointer;
}
.buttonNone {
    cursor: pointer;
    border: 0;
    padding: 0;
    background: transparent;
  }

/* 공통 반응형 콘텐츠 */
.responsive{
  /* background-color: green; */
  /* display: none; */
  /* display: inline-block; */
  max-width: 100%;
  height: auto;
}


/* 공통 레이아웃 */
.container{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    /* display: grid; */
}

.appFooter{
    width: 100%;
}


/* 공통 헤더 */
.appHeader{
    /* background-color: silver; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    /* justify-content: flex-end; */
    /* order: -1; */
    
    display: grid;

}

/* 공통 멤버링크 */
.memberOnly {
    /* background-color: yellow; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

}
.memberOnly .divider{
  padding: 0 5px;
}

/* 공통 검색폼 */
input[type="search"]{
    /* background-color: red; */
    height: 35px;
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 2px 15px;
}


/* 공통 네비게이션 */
.appNavigation{
  /* background-color: purple; */

}


/* 공통 메인콘텐츠 */


/* 공통 메인콘텐츠 섹션 제목, 단락 */
/* .sprite::before{
  content: '';
  display: block;
  background-image: url(/css/images/sprite_main.png);
  background-repeat: no-repeat;
  width: 58px;
  height: 58px;
} */

.sprite{
  background-image: url(/css/images/sprite_main.png);
  background-repeat: no-repeat;

}
.spriteBook{
  background-position: 0 0;
}
.spriteNews{
  background-position: 0 -230px;
}
.spriteBoard{
  background-position: 0 -115px;
}
.spriteFavorite{
  background-position: 0 -345px;
}
.spriteTwitter{
  background-position: 0 -460px;
}

.themeGreen{
  color: rgb(171, 211, 117);
}
.themeYellow{
  color: rgb(232, 202, 88);
}
.themeBrown{
  color: rgb(199, 179, 154);
}
.themeOrange{
  color: rgb(238, 166, 10);
}
.themeSkyblue{
  color: rgb(106, 174, 230)
}

.appMain [class*="__summary"]{
  line-height: 1.5;
}

.appMain [class*="__title"]{
  /* background-color: red; */
  margin: 0;
  align-items: center;
  min-height: 60px;
  padding-left: 65px;
  font-weight: 700;
  font-size: 1.7rem;
}
.appMain [class*="__enTitle"]{
  display: block;
  margin-top: 5px;
}




/* 공통 추천 서적 */

.book{
  /* background-color: yellow; */

}
.book__cover{
  /* background-color: pink; */
  margin: 0;
  margin: 15px 20px;
  /* margin-top: 12px; */
  /* margin: 0; */
  /* text-align: center; */
  /* margin: 0 20px; */
}

.book__cover,
.book__info{
  text-align: center;
  /* padding: 0 40px; */
  font-size: 1.6rem;
}
.book__cover figcaption{
  /* background-color: red; */
  /* margin: 0; */
  margin: 10px 0;
  /* margin-top: 30px 0; */
}

.book__info {
  margin: 15px 0;
}


/* ┌ .book__info dt,
   │ .book__info dd{
   │ display: inline;
   │ margin: 0;
}  ↓*/
.book__info *{
  display: inline;
  /* margin: 0; */
  margin-left: 0;
}


/* ┌.book__info span{
   │ display: block;
   │ margin: 0;
   │ padding: 0;
   │ font-size: 2.4rem;
}  ↓*/
.book__info dd[aria-label]{
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
}






.board{

}
.appFooter{
    background-color: orange;

}