@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");

*::before,
*::before{
box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: 0;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: .35em .75em .625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

/* 초기화 */
.resetMargin {
  margin: 0;
}
.resetList {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
.resetBox {
  border: 0;
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 300;
  color: #181818;
  background-color: #fff;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #f00;
}
legend,
.a11yHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}
.button {
  border: 1px solid #333;
  border-radius: 3px;
  padding: .5em 1em;
  font-size: 1em;
  cursor: pointer;
}
.buttonNone {
    cursor: pointer;
    border: 0;
    padding: 0;
    background: transparent;
  }

/* 공통 레이아웃 */

.container{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    /* display: grid; */
}

.appFooter{
    width: 100%;
}


/* 공통 헤더 */
.appHeader{
    /* background-color: silver; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    /* justify-content: flex-end; */
    /* order: -1; */
    
    display: grid;

}

/* 공통 멤버링크 */
.memberOnly {
    /* background-color: yellow; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

}
.memberOnly .divider{
  padding: 0 5px;
}

/* 공통 검색폼 */
input[type="search"]{
    /* background-color: red; */
    height: 35px;
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 2px 15px;
}

/* 공통 네비게이션 */
.appNavigation{
    background-color: purple;

}
.appMain{
    background-color: lime;

}
.appFooter{
    background-color: orange;

}