/* 모바일 기본 글자 크기 */
body{
    font-size: 1.5rem;
    /* background-color: pink; */
}

/* 모바일 레이아웃 */

.appHeader,
.appMain{
width: 100%;
} 


/* 모바일 헤더 */
.appHeader{
    background-color: #38302e;
    /* background-color: silver; */
    /* position: relative; */
    /* margin: 0;
    padding: 0 20px; */
    grid-template: auto / 1fr;
    /* grid-template-rows: 100% 100% 100% 100%; */
}

.brand,
.memberOnly,
.searchForm{
    padding: 10px 20px;
}

/* 모바일 브랜드 */
.brand{
    /* padding: 10px 20px; */
}
.brand *{
    display: block;
}

/* 모바일 멤버 링크 */
.memberOnly {
    order: -1;
    background-color: #988574;
    color: #fff;
    /* padding: 10px 20px; */
    /* justify-self: right; */

    /* display: flex;
    flex-flow: row nowrap; */
    /* background-color: yellow; */
}

/* 모바일 검색 폼 */


input[type="search"]{
    /* background-color: red; */

    /* ┌ flex-grow: 90%; */
    width: calc(100% - 45px);

    margin-right: 5px;
}

.buttonSearch{
    width: 35px;
    height: 35px;
    bottom: 0;
    padding: 0;
    position: relative;
    background-color: transparent;
    /* background-image: url(/css/images/btn_search.png);
    background-repeat: no-repeat;
    background-color: transparent; */
    /* ┌ background-size: 100% 100%; */
    /* background-size: cover; */

    /* text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden; */

    /* ┌ padding-top: 35px; */
    /* └ overflow: hidden; */

    /* ┌ position: absolute; */
    /* │ 가상요소 클래스 after 사용 */
    /* └ 글씨를 뒤로 보내고 그림을 앞으로 해서 글씨가리게 하는 방법 */
}

.buttonSearch::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;

    /* ┌ background-image: url(/css/images/btn_search.png);
       │ background-repeat: no-repeat;
       └ background-color: transparent; */
    background: url(/css/images/btn_search.png) 0 0 / cover no-repeat scroll;

}

/* 모바일 네비게이션 */
/*.appNavigation{
    position: fixed;  수직으로 스크롤이 되어도 뷰포트 고정시켜야 한다.
    top: 0;
    left: 0;
    width: 70vw; /*vw : view-port
    height: 100vh; /*vh : view-height*/
    /* ┌ text-indent: -9999px; 
       │ display: none; <- 애니메이션 적용하기에는 안좋은 속성
    transform: translateX(-100%);
}*/

.appNavigation{
    /* position: relative; */
}


.menu__list{
    position: fixed; /* 수직으로 스크롤이 되어도 뷰포트 고정시켜야 한다.*/
    top: 0;
    left: 0;
    width: 70vw; /*vw : view-port*/
    height: 100vh; /*vh : view-height*/
    /* ┌ text-indent: -9999px; 
       │ display: none; <- 애니메이션 적용하기에는 안좋은 속성*/
    transform: translateX(-100%);
}




/* 모바일 메뉴 제어 버튼*/
.buttonBurger{
    width: 35px;
    height: 35px;
    background-color: blue;
    /* background-color: transparent; */
    /* border: 0; */
    
    position: absolute;
    top: 60px;
    right: 20px;
    cursor: pointer;

    overflow: hidden;
}


.burgerBar{
    background-color: #fff;
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 100%;
    height: 20%;

    transition: all 200ms ease-in-out;
}

.round{
    border-radius: 20px;
}

.positionTop{
    top: 0;
    /* height: 1px; */
    /* background-color: #fff;*/
    /* transform: skewX(60deg); */
    /* transform: translateY(-50%); */
}

.positionMiddle{
    top: 50%;
    transform: translateY(-50%);
}
.positionBottom{
    top: 100%;
    transform: translateY(-100%);
}





.isAct .positionTop{
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.isAct .positionMiddle{
    transform: translateY(-50%) translateX(-100%);
}
.isAct .positionBottom{
    top: 50%;
    transform: translateY(-50%) rotate(-50deg);
}




/* 모바일 메인 콘텐츠 */
.appMain{
    background-color: lime;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}

.book,
.news,
.board,
.favorite,
.twitter{
    height: 10vh;
    width: 100%;
}


.book{
    background-color: skyblue;
    
}
.news{
    background-color: pink;
}
.board{
    background-color: lightcoral;
}
.favorite{
    background-color: lightgray;
}
.twitter{
    background-color: lightseagreen;
}



.appFooter{
    /* background-color: orange; */
}