/* 모바일 기본 글자 크기 */
body{
    font-size: 1.5rem;
    background-color: pink;
}

/* 모바일 레이아웃 */

.appHeader,
.appMain{
width: 100%;
} 


/* 모바일 헤더 */
.appHeader{
    background-color: #38302e;
    /* background-color: silver; */
    /* position: relative; */
    /* margin: 0;
    padding: 0 20px; */
    grid-template: auto / 1fr;
    /* grid-template-rows: 100% 100% 100% 100%; */
}

.brand,
.memberOnly,
.searchForm{
    padding: 10px 20px;
}

/* 모바일 브랜드 */
.brand{
    /* padding: 10px 20px; */
}
.brand a{
    display: block;
}

/* 모바일 멤버 링크 */
.memberOnly {
    order: -1;
    background-color: #988574;
    color: #fff;
    /* padding: 10px 20px; */
    /* justify-self: right; */

    /* display: flex;
    flex-flow: row nowrap; */
    /* background-color: yellow; */
}

/* 모바일 검색 폼 */
.searchForm{
}

.buttonSearch{
    width: 35px;
    height: 35px;
    bottom: 0;
    padding: 0;
}

input[type="search"]{
    /* background-color: red; */
    height: 24px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 2px 5px;

    /* ┌ flex-grow: 90%; */
    width: calc(100% - 45px);

    margin-right: 5px;
}

/* 모바일 네비게이션 */
.appNavigation{
    position: fixed; /* 수직으로 스크롤이 되어도 뷰포트 고정시켜야 한다.*/
    top: 0;
    left: 0;
    width: 70vw; /*vw : view-port*/
    height: 100vh; /*vh : view-height*/
    /* ┌ text-indent: -9999px; 
       │ display: none; <- 애니메이션 적용하기에는 안좋은 속성*/
    transform: translateX(-100%);
}
.appMain{
    /* background-color: lime; */
}
.appFooter{
    /* background-color: orange; */
}